PLANNER_BASE_URL=
PLANNER_API_KEY=
DRAFTER_BASE_URL=
DRAFTER_API_KEY=
CRITIC_BASE_URL=
CRITIC_API_KEY=
PAD_TRANSLATOR_BASE_URL=
PAD_TRANSLATOR_API_KEY=
CRAFT_CONSULTANT_BASE_URL=
CRAFT_CONSULTANT_API_KEY=
